    /* Añadimos aquí tu CSS personalizado que antes estaba en el archivo styles.css */
    .login-container {
        display: none;
        background: rgba(0, 0, 0, 0.9);
        padding: 40px;
        border-radius: 15px;
        box-shadow: 0 8px 16px rgb(0, 0, 0);
        width: 300px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }
    .login-container.active {
        display: block;
    }
    .login-form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .login-form h2 {
            margin-bottom: 20px;
            color: #fff;
            font-size: 24px;
        }
    .input-group {
        position: relative;
        margin-bottom: 20px;
        width: 100%;
    }
    .input-group input {
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        color: #fff;
        font-size: 16px;
        outline: none;
    }
    .input-group label {
        position: absolute;
        top: 50%;
        left: 10px;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: transform .2s, color .2s;
        transform-origin: center left;
        background: transparent;
        padding: 0 5px;
        transform: translateY(-50%);
    }
    #IconUser {
            position: absolute;
            right: 20px; /* Ajuste la posición del icono */
            top: 50%;
            transform: translateY(-50%);
            color: #aaa;
        }

        #IconPassword {
            position: absolute;
            right: 20px; /* Ajuste la posición del icono */
            top: 50%;
            transform: translateY(-50%);
            color: #aaa;
        }
    .input-group input:focus + label,
    .input-group input:not(:placeholder-shown) + label {
        transform: translateY(-180%) scale(.7);
        color: #fff;
      background: rgba(255, 255, 255, 0.1);
            padding: 0 5px;
    }
    .options {
            display: flex;
            justify-content: space-between;
            width: 100%;
            color: #fff;
            font-size: 14px;
        }

        .options label {
            display: flex;
            align-items: center;
        }

        .options input {
            margin-right: 5px;
        }
    .forgot-password {
            color: #fff;
            text-decoration: none;
        }

        .forgot-password:hover {
            text-decoration: underline;
        }
    button {
            padding: 10px;
            border: none;
            font-weight: bold;
            border-radius: 5px;
            background: rgba(255, 255, 255, 0.8);
            color: #000;
            font-size: 16px;
            cursor: pointer;
            margin-top: 20px;
        }
    button:hover {
            background: rgba(255, 255, 255, 1);
        }

        .register {
            margin-top: 20px;
            color: #fff;
            font-size: 14px;
        }

        .register a {
            color: #00ffae;
            text-decoration: none;
            margin-left: 5px;
        }

        .register a:hover {
            text-decoration: underline;
        }

        img {
            width: 10%;
            height: 10%;
            top: 0;
            left: 0;
            z-index: -1;
        }
    
